-i https://pypi.org/simple
colorama==0.4.3 ; sys_platform == 'win32'
comtypes==1.1.7
loguru==0.3.2
numpy==1.18.4 ; python_version >= '3.0'
pillow==7.1.2
python-dateutil==2.8.0
pywin32==225
six==1.14.0
win32-setctime==1.0.1
wxpython==4.1.0
